@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.container{
    @include container;
}
.none{
    display: none;
}
nav{

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 27px 0px;
    .list{
    padding: 10px 0px;
    background-color: $color-1;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 5px 0px 5px 16px;
        li{
            font-weight: 600;
            font-size: 18px;
        }
       
    }
    }
    .navbar{
        margin-bottom: 10px;
     width: 100%;
     @include between;
     img{
        width: 130px;
     }
     ul{
        width: 530px;
        @include between;
        list-style: none;
        li{
         font-size: 17px;
         color: $color-1;
         font-weight: 700;
         position: relative;
         cursor: pointer;
         &::after{
            content: "";
            // display: block;
            border-bottom: 1px solid yellow;
            width:0;
            position: absolute;
            // margin-top: 10px;
            bottom: -5px;
            left: 0;
            transition: all 0.5s ease;
            // transform: translateX(-50%) scale(0);
            // transition: transform;
            // transition-duration: .4s;
            // transition-timing-function: linear;
            // transform-origin: right;
         }
         &:hover::after{
            // transform: translateX(-50%) scale(1);
            // transform-origin: left;
            width: 100%;
        }
        }
     }
     #list{
        font-size: 35px;
        color: $color-1;
        display: none;
     }
    }
}

.section1{
    padding: 141px 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("https://images3.alphacoders.com/133/1334556.png");
    .kalium{
        width: 100%;
        @include center;
        .for{
            padding: 20px 0px;
            width: 80%;
            @include center;
            flex-direction: column;
            gap: 20px;
            text-align: center;
            transition: .5s ease;
            // &:hover{
            //     cursor: pointer;
            //     transform: skewX(20deg);
            
            //     transition: .7s ease;
            // }
            p{
                color: rgb(197, 197, 197);
                font-size: 13px;
                font-weight: 700;
            }
            h1{
                color: $color-1;
                font-size: 67px;
                font-weight: 900;
            }
            button{
                margin-top: 50px;
                text-align: center;
                color: $color-1;
                width: 200px;
                padding: 12px 0px;
                border-style: none;
                border: 1px solid $color-1;
                font-size: 15px;
                font-weight: 600;
                background-color: transparent;
                transition:all .5s ease;
                &:hover{
                    cursor: pointer;
                    background-color: yellow;
                    border: 1px solid yellow;
                    transition:all .7s ease;
                }
            }
        }
    }
}

.sort{
    width: 100%;
    padding: 30px 0px;
    .search{
        @include center;
        flex-direction: column;
        gap: 20px;
        button{
            margin-top: 50px;
            text-align: center;
            color: $color-1;
            width: 170px;
            padding: 12px 0px;
            border-style: none;
            border: 1px solid $color-1;
            font-size: 15px;
            font-weight: 600;
            background-color: rgb(241, 206, 2);
            border: 1px solid rgb(241, 206, 2);
            cursor: pointer;
            border-radius: 5px;
        }
        input{
            outline: none;
            border: 2px solid rgb(241, 206, 2);
            width: 80%;
            padding: 8px 0px;
            padding-left: 8px;
            font-size: 15px;
        }
    }
}

.section2{
    width: 100%;
    padding: 60px 0px;
    .book{
        width: 100%;
     @include center;
     gap: 40px;
        flex-wrap: wrap;
        .book-1{
            width: 240px;
            @include center;
            text-align: center;
            flex-direction: column;
            gap: 10px;
            .btns{
                @include between;
                width: 80%;
                button{
                    width: 60px;
                    background-color:  rgb(241, 206, 2);
                    border: 1px solid rgb(241, 206, 2);
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 700;
                    padding: 7px 0px;
                    border-radius: 7px;
                }

            }
            img{
                width: 60px;
            }
            h1{
                font-size: 27px;
                font-weight: 600;
            }
            p{
                font-weight: 500;
                font-size: 16px;
                color: rgb(99, 98, 98);
                line-height: 26px;
            }
        }
    }
}

.details{
    width: 100%;
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-image: url("https://images3.alphacoders.com/133/1334556.png");
   .back{
    position: absolute;
    bottom: 20px;
    left: 20px;
        width: 150px;
        background-color:  rgb(241, 206, 2);
        border: 1px solid rgb(241, 206, 2);
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 0px;
        border-radius: 7px;
    
   }
   @include center;
    .book{
        width: 100%;
     @include center;
     gap: 40px;
        flex-wrap: wrap;
        .book-1{
            width: 240px;
            @include center;
            text-align: center;
            flex-direction: column;
            gap: 10px;
            .btns{
                @include between;
                width: 80%;
                button{
                    width: 60px;
                    background-color:  rgb(241, 206, 2);
                    border: 1px solid rgb(241, 206, 2);
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 700;
                    padding: 7px 0px;
                    border-radius: 7px;
                }

            }
            img{
                width: 60px;
            }
            h1{
                font-size: 27px;
                font-weight: 600;
            }
            p{
                font-weight: 500;
                font-size: 16px;
                color:$color-1;
                line-height: 26px;
            }
        }
    }
}

.favorites{
    width: 100%;
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-image: url("https://images3.alphacoders.com/133/1334556.png");
   .back{
    position: absolute;
    bottom: 20px;
    left: 20px;
        width: 150px;
        background-color:  rgb(241, 206, 2);
        border: 1px solid rgb(241, 206, 2);
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 0px;
        border-radius: 7px;
    
   }
   @include center;
    .book{
        width: 100%;
     @include center;
     gap: 40px;
        flex-wrap: wrap;
        .book-1{
            width: 240px;
            @include center;
            text-align: center;
            flex-direction: column;
            gap: 10px;
            .btns{
                @include between;
                width: 80%;
                button{
                    width: 60px;
                    background-color:  rgb(241, 206, 2);
                    border: 1px solid rgb(241, 206, 2);
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 700;
                    padding: 7px 0px;
                    border-radius: 7px;
                }

            }
            img{
                width: 60px;
            }
            h1{
                font-size: 27px;
                font-weight: 600;
            }
            p{
                font-weight: 500;
                font-size: 16px;
                color:$color-1;
                line-height: 26px;
            }
        }
    }
}




.update{
    width: 100%;
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-image: url("https://images3.alphacoders.com/133/1334556.png");
   @include center;
   .back{
    position: absolute;
    bottom: 20px;
    left: 20px;
     width: 150px;
    background-color:  rgb(104, 104, 255);
    border: 1px solid  rgb(104, 104, 255);
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0px;
    border-radius: 7px;
   }
   .update-page{
    width: 100%;
    @include center;
    flex-direction: column;
    gap: 30px;
    h1{
        font-size: 40px;
        font-weight: 600;
        color: $color-1;
    }
    form{
        width: 420px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: rgb(104, 104, 255);
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0px 4px 20px gray;
        input{
            padding: 7px 0px;
            outline: none;
        }
    }
   }
}

.add{
    width: 100%;
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-image: url("https://images3.alphacoders.com/133/1334556.png");
   @include center;
   .back{
    position: absolute;
    bottom: 20px;
    left: 20px;
     width: 150px;
    background-color:  rgb(104, 104, 255);
    border: 1px solid  rgb(104, 104, 255);
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0px;
    border-radius: 7px;
   }
   .add-page{
    width: 100%;
    @include center;
    flex-direction: column;
    gap: 30px;
    h1{
        font-size: 40px;
        font-weight: 600;
        color: $color-1;
    }
    form{
        width: 420px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: rgb(104, 104, 255);
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0px 4px 20px gray;
        input{
            padding: 7px 0px;
            outline: none;
        }
    }
   }
}

.section3{
width: 100%;
height: 100vh;
.beach{
    @include center;
    height: 100%;
    .beach-1{
        width: 50%;
        background-color: gainsboro;
        height: 100vh;
     display: flex;
     justify-content: center;
      flex-direction: column;
      gap: 10px;
      padding-left: 30px;
      padding-right: 30px;
       h1{
        font-size: 35px;
        font-weight: 500;
        padding-bottom: 40px;
      
       }
       p{
        line-height: 30px;
        font-size: 15px;
        color: rgb(128, 125, 125);
       }
    }
    .beach-2{
        width: 50%;
        height: 100vh;
        img{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
    }
}
}
.section4{
    width: 100%;
    padding: 40px 0px;
    @include center;
    .word{
        width: 70%;@include center;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        h1{
            font-size: 31px;
            font-weight: 700;
        }
        p{
            font-size: 16px;
            color: rgb(83, 82, 82) ;
            font-weight: 600;
        }
    }
}
.section5{
    width: 100%;
    padding: 60px 0px;
    .pictures{
        @include center;
        gap: 30px;
        flex-wrap: wrap;
        img{
            width: 22%;
            height: 200px;
            object-fit: cover;
        }
    }
}
.section6{
    width: 100%;
    background-attachment: fixed;
    background-image: url("https://demo.kaliumtheme.com/travel/wp-content/uploads/2017/06/amsterdam-1.jpg?id=553");
    padding: 60px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include center;
   
    .flat{
        width: 70%;
        flex-direction: column;
        gap: 20px;
        @include center;
        text-align: center;
        h1{
            color: $color-1;
            font-size: 34px;
            font-weight: 600;
        }
        p{
            color: $color-1;
            font-size: 15px;
            font-weight: 500;
        }

    }
}
.section7{
    width: 100%;
    padding: 20px 0px;
    .news{
        @include between;
        .on{
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            h1{
                font-size: 34px;
                font-weight: 600;
            }
            p{
                font-size: 16px;
                color: rgb(83, 82, 82) ;
                font-weight: 600;
            }
        }
        button{
            width: 160px;
            padding: 12px 0px;
            font-size: 16px;
            outline: none;
            border: 1px solid  rgb(255, 217, 0);
            background-color: rgb(255, 217, 0);
            border-radius: 5px;
            transition: all 0.5s ease;
            &:hover{
                cursor: pointer;
                transition: all 0.7s ease;
                border: 1px solid  rgb(212, 181, 0);
                background-color: rgb(212, 181, 0);
            }
        }
    }
}
.middle{
    width: 100%;
    padding: 50px 0px;
    .west{
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
        width: 100%;
        gap: 14px;
        display: flex;
        flex-wrap: wrap;
        .east{
            flex-wrap: wrap;
            width: 340px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: rgb(248, 247, 218);
            transition: all .7s ease;
            img{
                width: 100%;
            }
             h1{
            padding-left: 20px;
                font-size: 16px;
                color: rgb(83, 82, 82) ;
                font-weight: 600;
             }
             p{
              padding-left: 20px;
                font-size: 22px;
                font-weight: 600;
               padding-bottom: 10px;
             }
             &:hover{
                box-shadow: 0px 4px 20px gray;
                cursor: pointer;
                transition: all .5s ease;
             }
        }
    }
}

footer{
    width: 100%;
    padding: 20px 0px;
    background-color: rgb(219, 240, 240);
    .end{
        width: 100%;
        @include between;
        text-align: center;
        p{
            font-size: 15px;
            color: gray;
            span{
                transition: all .5s ease;
                &:hover{
                    color: blue;
                    transition: all .7s ease;
                    cursor: pointer;
                }
                
            }
        }
        .icons{
            width: 150px;
            @include between;
            cursor: pointer;
        }
    }
}









@media screen and (max-width:1024px){
    .section5{
        .pictures{
            img{
                width: 20%;
                object-fit: cover;
            }
        }
    }
    .section7{
        .news{
            button{
                display: none;
            }
            .on{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:768px){
    nav{
        width: 100%;
        .navbar{
            ul{
                display: none;
            }
            #list{
                display: block;
            }
        }
    }
    .section1{
        .kalium{
            .for{
                h1{
                    font-size: 40px;
                }
            }
        }
    }
    .section3{
        width: 100%;
        height: 200vh;
        .beach{
            width: 100%;
            flex-direction: column;
            .beach-1{
                width: 100%;

                h1{
                    font-size: 28px;
                }
            }
            .beach-2{
                width: 100%;
            }
        }
    }
    .section5{
        width: 100%;
        .pictures{
            img{
                height: 100%;
                width: 44%;
                object-fit: cover;
            }
        }
    }
    .section6{
        .flat{
            h1{
                font-size: 25px;
            }
            p{
                font-size: 13px;
            }
        }
    }
    .middle{
        width: 100%;
        .west{
            width: 100%;
            gap: 20px;
            .east{
                width: 100%;
            }
        }
    }
    footer{
        width: 100%;
        padding: 20px 0px;
        .end{
            width: 100%;
            @include between;
            gap: 20px;
             flex-direction: column-reverse;
        }
    }
}

@media screen and (max-width:576px){
    .section1{
        .kalium{
            .for{
                p{
                    font-size: 11px;
                }
                h1{
                    font-size: 30px;
                }
            }
        }
    }
    .section2{
        .book{
            .book-1{
                width: 90%;
            }
        }
    }
    
    .section5{
        width: 100%;
        .pictures{
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}