@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin container{
    margin: 0 auto;
    padding: 0px 30px;
    max-width: 1200px;
}